# Code owners for this repository.
# All changes to master require approval from @minsu-kang.
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-security/customizing-your-repository/about-code-owners

* @minsu-kang
